
@{
    ViewBag.Title = "ContactUs";
}

<div class="contact container-fluid">

    <h1>Contact Us</h1>

    <div class="c_content">
        <h2>Flower Bisen</h2>
        <br>
        <p>flowerbisen@gmail.com</p>
    </div>
    <div class="c_content">
        <h2>Souhardya </h2>
        <br>
        <p>souhardya@gmail.com</p>
    </div>
    <div class="c_content">
        <h2>Piyush</h2>
        <br>
        <p>piyush@gmail.com</p>
    </div>
</div>

