
<div class="container-fluid my-5">
    <button class="btn btn-danger">@Html.ActionLink("Sign in as Teacher", "Login", "Teacher")</button>
    <button class="btn btn-info">@Html.ActionLink("Sign in as Student", "Login", "Student")</button>

</div>

