
@{
    ViewBag.Title = "ErrorNotFound";
}
<div class="error container">


    <div class="e_content text-center">
        <h1>
            Oops.. road is blocked ahead<br>
            Finally, its time to give your eyes some rest.
        </h1>
        <p class="text-danger">@ViewBag.ExceptionE</p>
        <h4>One last thing before you go, report this error to <a href="mailto: souhardyaofficial@gmail.com" style="color:red">Us</a></h4>
        @Html.ActionLink("Back to Home", "ForceLogOut", "Home", null, new {@class="km"})
    </div>

</div>






